@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Db string: @Model.DbOptions.ConnectionString</p>
    <p>Auth string: @Model.Auth0Options.Domain</p>
    <p>Data protection cert issuer: @Model.DataProtectionCertificate.Issuer</p>
</div>
